<body>
<app-customer-navbar></app-customer-navbar>



<div class="main-content">
  <div class="fixed-buy-section">
    <p class="buy-text">Buy your tickets!</p>
    <button (click)="buyTickets()" [disabled]="selectedTicketIds.length === 0" class="buy-button">
      Buy Selected Tickets
    </button>
  </div>

  <div *ngIf="tickets.length > 0; else noTickets" class="ticket-container">
    <div *ngFor="let ticket of tickets" class="ticket-card"
         [ngClass]="{ 'available': ticket.available && !ticket.selected, 'unavailable': !ticket.available, 'selected': ticket.selected }"
         (click)="selectTicket(ticket)"
         [style.pointerEvents]="!ticket.available ? 'none' : 'auto'">
      <p>{{ ticket.name }}</p>
      <p>{{ ticket.price | currency }}</p>
      <p *ngIf="ticket.available && !ticket.selected" class="status">Available</p>
      <p *ngIf="ticket.selected" class="status">Selected</p>
      <p *ngIf="!ticket.available" class="status">Unavailable</p>
    </div>
  </div>

  <!-- Template for no tickets -->
  <ng-template #noTickets>
    <div class="no-tickets-msg">
      <p>No tickets available at the moment</p>
    </div>
  </ng-template>
</div>
</body>
